.heder{
    display: flex;
    align-items: center;
}
.logo{
    width: 100px;
    height: 27px;
    margin-left: 30px;
    margin-top: 30px; 
    margin-right: 430px;

}
.link{
    margin-left: 30px;
    list-style-type: none;
}
.li{
    color: #000000;
}
.link-1{
    padding-top:  15px;
    margin-top: 30px;
     text-align: center;
    list-style-type: none;
    width:100px;
    height: 48px;
    background-color:#000000 ;
    margin-left: 448px;
    border-radius: 20px;
}
.li-1{
    border-radius: 10px;
    color: #F3F3F3;
    text-align: center;
}
.medium{
    margin-left:165px;
    margin-top:240px;
    width: 490px;
    height: 228px;
}
.h-2{
    font-size: 56px;
    color: #000000;
}
.p{
    margin-top: 24px;
    font-size:18px;
    color: #000000;
}
.div{
    display: flex;
    height: 556px;
    max-width: 1440px;
    width:90% ;
    margin: 0 auto;
    align-items: center;
    gap: 68px 130px;
}
.div-1{
    width: 490px;
    margin-top:  160px;
     margin-left: 130px;
     text-align: left;
}
.img-1{
  width: 100%;  
}
.div-2{
    display: flex;
    margin-top:40px;
}
.div-3{
    border-radius: 20px;
    width: 100px;
    height: 48px;
    margin-right: 20px ;
    background-color: #000000;
    color: #F3F3F3;
    text-align: center;
    padding-top: 15px;
}
.div-4{
    width: 236px;
    height:44px;
    font-size:14px;
}
.allo{
    width: 360px;
    height: 116px;
    text-align: left;
}
.div-5{
    display: flex;
    margin-left:150px;
    margin-top:64px; 
     max-width: 1140px;
  width: 90%;
  margin: 0 auto;
  column-gap: 30px;
}
.div-6{
 height: 244px;
 background-color:#F3F3F3 ;
  width: 100%;
  margin: 0 auto;
  display: flex;
  column-gap: 30px;
}
.allo{
    margin-top: 64px;
}
.allo-1{
    display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 16px;
}
.long{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}
.long-1{
    width: 100%;
    background-color: #000000;
    height: auto;
}
.long-2{
    color: #F3F3F3;
     width: 100%;
     text-align: left;
     margin-top: 64px;
    height: auto;
    column-gap: 16px;
}

.long-3{
    background-image:url("../imig/desktop.jpg"); ;
        width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}
.long-4{
     display: flex;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        column-gap: 30px;
       padding-left: 150px;
       padding-top: 96px;
}
.turn{
    background-image: url("../imig/desktop.jpg");
     width: 100%;
  height: 564px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-position: center;
}
.headline-1{
    color: #F3F3F3;
    font-size: 16px;
}
.long-5{
    display: flex;
    flex-direction: column;
        width: 100%;
        text-align: left;
        margin-top: 64px;

}
@media (max-width:1024px){
  .div{
    flex-direction: column;
    height: auto;
  }
  .medium{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div-1{
    width: 100%;
  }
  .div{
    width: 100%;
  }
}
.long-5{
    display: flex;

}
@media (max-width:744px){
    .div-2{
      flex-direction: column;
       align-items: center;
         row-gap: 20px;
    }
    .div-5{
        flex-direction: column;
         row-gap: 20px;
    }
    .long-5{
    display: flex;
    height: auto;
    
}
    .allo{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .allo-1{
        margin: 0;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width: 724px){
    .long-1{
        height: auto;
          display: flex;
    }
    .long-4{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .long-5{
    display: flex;

    }
    .long-2{
        width: 100%;
    }
    .turn{
        background-image: url("../imig/CTAImg-Tablet-1024px.jpg");
        height: 588px;
    }
    .long-3{
        background-image: url("../imig/CTAImg-Mobile-375px.jpg");
        height: 588px;
    }
}
@media(max-width: 375px){
    .Tagline{
        background-image: url("../imig/CTAImg-Mobile-375px.jpg");
        height: 500px;
}
.long-3{
    background-image: url("../imig/CTAImg-Mobile-375px.jpg");
    height: auto;
}
}